<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>F1 Data Analysis App</title>
    <link rel="stylesheet" href= {{url_for('static', filename='lib/css/bootstrap.min.css')}}>
    <link rel="stylesheet" href= {{url_for('static', filename='lib/css/keen-dashboards.css')}}>
    <link rel="stylesheet" href= {{url_for('static', filename='lib/css/dc.css')}}>
    <link rel="stylesheet" href= {{url_for('static', filename='lib/css/custom.css')}}>
    <link rel="stylesheet" href= {{url_for('static', filename='lib/css/introjs.css')}}>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</head>

<body class="application">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="./">F1 Data Analysis App</a>
        </div>
        <button class="introjs-button" autofocus onclick="javascript:introJs().start();">Click to begin</button>
    </div>
</div>

<div id="outer" class="container-fluid">
    <div id="overlay"><br>
        </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="row">


                <div class="col-sm-6">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Austrian GP 2016 points by constructor
                        </div>
                        <div class="chart-stage">
                            <div id="constructor-points-line" data-step="1"
                                 data-intro="This bar chart shows the points scored by constructors."
                                 style="font-weight: normal" data-position="right"></div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-3">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                             Status
                        </div>
                        <div class="chart-stage">
                            <div id="car-status-pie" data-step="2"
                                 data-intro="This piechart displays the finishers and reasons for non-finishes."
                                 style="font-weight: normal" data-position="left"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
        <div class="col-sm-12">
            <div class="row">
            <div class="col-sm-9">
                        <div class="row">


                            <div class="col-sm-12">
                                <div class="chart-wrapper">
                                    <div class="chart-title">
                                        Boxplot of fastest laps by driver from 1996 to 2016
                                    </div>
                                    <div class="chart-stage">
                                        <div id="laptimes-boxplot-line" data-step="3"
                                             data-intro="This shows the trend of laptimes by year and the variance between drivers. As rules and technologies change laptimes change also. "
                                             style="font-weight: normal" data-position="right"></div>
                                    </div>
                                </div>
                </div>
                            </div>

            </div>

               <div class="col-sm-3">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                             Filter boxplot by circuit
                        </div>
                        <div class="chart-stage">
                            <div id="circuit-select"></div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
                    </div>
                <div class="row">
        <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Pole position Lap Times since 2006
                        </div>
                        <div class="chart-stage">
                            <div id="Q3-pole-line" data-step="4"
                                 data-intro="Pole positions have changed as rules, circuit layouts and tecnologies have changed."
                                 style="font-weight: normal" data-position="right"></div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-3">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                             Driver
                        </div>
                        <div class="chart-stage">
                            <div id="driver-pole-pie" data-step="5"
                                 data-intro="This piechart shows the number of pole positions by driver. Click the driver to filter the linechart results."
                                 style="font-weight: normal" data-position="left"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                             Filter Pole position by Circuit
                        </div>
                        <div class="chart-stage">
                            <div id="menu-select"></div>
                        </div>
                    </div>
                </div>
        </div>
            </div>
                    </div>
                </div>










    </div>

    <hr>
    <p class="small text-muted"></p>

</div>
</div>

<script src={{url_for ('static', filename='lib/js/jquery.min.js')}}></script>
<script src={{url_for ('static', filename='lib/js/bootstrap.min.js')}}></script>
<script src={{url_for ('static', filename='lib/js/crossfilter.js')}}></script>
<script src={{url_for ('static', filename='lib/js/d3.js')}}></script>
<script src={{url_for ('static', filename='lib/js/dc.js')}}></script>
<script src={{url_for ('static', filename='lib/js/queue.js')}}></script>
<script src={{url_for ('static', filename='lib/js/keen.min.js')}}></script>
<script src={{url_for ('static', filename='js/graph.js')}} ></script>
<script src={{url_for ('static', filename='lib/js/intro.js')}}></script>



</body>
</html>